{% load static %}
<section class="section section-sm bg-white text-center text-sm-left">
        <div class="shell-wide">
          <h3>Nuestro Blog</h3>
          <hr>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-stagePadding" data-items="1" data-sm-items="2" data-xl-items="3" data-dots="false" data-nav="true" data-stage-padding="0" data-lg-stage-padding="100" data-xl-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav-class="[&quot;owl-button-prev fl-budicons-free-left161&quot;,&quot;owl-button-next  fl-budicons-free-right163&quot;]">
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInUp" data-wow-delay=".1s"><a class="post-box-image" href="blog-post.html">
                <figure><img src="images/layout-2-blog-01-460x369.jpg" alt="" width="460" height="369"/>
                </figure></a>
              <div class="post-box-minimal-caption">
                <div class="post-box-minimal-caption-inner">
                  <h5 class="post-box-minimal-title"><a href="blog-post.html">Top 3 Reasons Why Royal Villas Offers the Best Spa Procedures</a></h5>
                  <div class="post-box-minimal-meta-bottom">
                    <time class="post-box-icon mdi mdi-clock" datetime="2017">October 12, 2017</time>
                    <p><a class="post-box-icon mdi mdi-thumb-up-outline" href="blog-post.html"></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInUp" data-wow-delay=".2s"><a class="post-box-image" href="blog-post.html">
                <figure><img src="{% static 'images/layout-2-blog-02-460x369.jpg' %}" alt="" width="460" height="369"/>
                </figure></a>
              <div class="post-box-minimal-caption">
                <div class="post-box-minimal-caption-inner">
                  <h5 class="post-box-minimal-title"><a href="blog-post.html">Featured Therapies and Activities at Royal Villas Spa Resort and Hotel</a></h5>
                  <div class="post-box-minimal-meta-bottom">
                    <time class="post-box-icon mdi mdi-clock" datetime="2017">October 26, 2017</time>
                    <p><a class="post-box-icon mdi mdi-thumb-up-outline" href="blog-post.html"></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-box post-box-minimal post-box-horizontal wow fadeInUp" data-wow-delay=".3s"><a class="post-box-image" href="blog-post.html">
                <figure><img src="{% static 'images/layout-2-blog-03-460x369.jpg' %}" alt="" width="460" height="369"/>
                </figure></a>
              <div class="post-box-minimal-caption">
                <div class="post-box-minimal-caption-inner">
                  <h5 class="post-box-minimal-title"><a href="blog-post.html"> Why Your Relaxing Getaway Starts Here</a></h5>
                  <div class="post-box-minimal-meta-bottom">
                    <time class="post-box-icon mdi mdi-clock" datetime="2017">August 23, 2017</time>
                    <p><a class="post-box-icon mdi mdi-thumb-up-outline" href="blog-post.html"></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>