{% load static %}

 <section class="section section-md bg-secondary-4 text-center text-sm-left">
  <div class="shell">
          <div class="range range-50 range-md-justify range-sm-middle">
            <div class="cell-sm-6 cell-md-5">
              <h3>¿ Quienes somos ?</h3>
              <p>The indoor heated pool has vaulted wood beam ceilings. The whirlpool features bay windows and overlooks the pond and the north face of the local beauty spot. For the safety and health reasons, children must be accompanied by an adult when visiting the pool.</p>
              <p>The serene pool at Royal Villas spa resort and hotel boasts sleek décor that features striking floor-to-ceiling teak columns set against a cool black tile floor. Poolside dining is also available, featuring a selection of dishes from any cuisine you desire that are both healthy and delicious. Daily aqua aerobics classes help keep guests fit while on the road.</p><a class="button button-primary button button-square button-effect-ujarak button-lg" href="#"><span>Nuestra Agenda</span></a>
            </div>
            <div class="cell-sm-6">
              <div class="box-outline box-outline__mod-1">
                <figure><img src="{% static 'images/grupo.jpg' %}" alt="" width="546" height="516"/>
                </figure>
              </div>
            </div>
          </div>
        </div>
  </section>