{% load static %}
{% block content %}
<section class="section section-md bg-white text-center text-sm-left">
  <div class="shell-wide">
          <div class="range range-50 range-xs-center overflow-hidden">
            <div class="cell-sm-10 cell-md-8 cell-lg-7 wow fadeInUp" data-wow-delay=".1s">
              <div class="post-video post-video-border">
                <div class="post-video__image"><img src="{% static 'images/xango1.jpg' %}" alt="" width="1020" height="525"/>
                </div>
                <div class="post-video__body"><a class="link-control post-video__control" data-lightgallery="item" href="https://youtu.be/-1cGHviavEo"></a></div>
              </div>
            </div>
            <div class="cell-sm-10 cell-md-8 cell-lg-5 reveal-flex wow fadeInUp" data-wow-delay=".3s">
              <div class="bg-primary section-wrap-content-var-1">
                <div class="section-wrap-content-var-1-inner">
                  <h2>Galería de Videos</h2>
                  <p>Fiesta en homenaje a Orixa Xango dentro de la Ley de Umbanda.</p>
                  <div class="group">
                  </div><a class="button button-effect-ujarak button-lg button-secondary-outline button-square" href=""><span>Ver videos</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
{% endblock %}